.home-container{
  padding-bottom: 58px;
  .yd-rollnotice-box{
    padding-left: 15px;
    .yd-rollnotice-item{
      span{
        margin-right: 5px;
      }
    }
  }
  .yd-grids-3{
    border-top: 1px solid $solid-color;
  }
}
