.order-info{
  .panel-container{
    margin-top: 10px;
    .modify-address{
      font-weight: normal;
      color: $blue;
      text-decoration: underline;
    }
  }
  .radio-item{
    padding: 5px 10px;
  }
}
