.success-order-container{
  background-color: #fff;
  .success-image{
    height: 180px;
    img{
      width: 140px;
      height: 140px;
    }
  }
  .success-order-btns{
    span{
      float: left;
      width: 50%;
      padding: 15px;
      background-color: #fff;
      border: 1px solid $solid-color;
    }
    .back-to-home{
      color: red;
    }
  }
}
