.columns-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 14px;
  .columns-right{
    color: #ccc;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
  }
}
